.dejoAromasLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.dejoAromasLogo:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
